.ctr {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

b.clr {
  color: linear-gradient(
    90deg,
    rgba(255, 0, 189, 1) 0%,
    rgba(0, 255, 248, 1) 100%
  );
}

a.box {
  opacity: 0.6;
  padding: 6px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-color: rgba(240, 248, 255, 0);
  transition-duration: 250ms;
  background-color: rgb(39, 39, 39);
}

a.box:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(253, 114, 0);
  transition-duration: 250ms;
  opacity: 1;
}

div.btn1 {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  div link {
    display: block;
  }
  div.nav001 {
    position: fixed;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
  }
  .ctr {
    width: 320px;
  }
  .fnt {
    font-size: 60px !important;
  }

  div.btn1 {
    display: flex;
    justify-content: flex-start !important;
  }
}

.fnt {
  font-size: 80px;
}

.ctr2 {
  position: absolute;
  left: 20%;
  top: 28%;
  /* transform: translate(-50%, -50%); */
}

.cardContent {
  /* padding-left: 24px;
  padding-right: 24px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

@import url("../styles/card.css");

.fuckContainer {
  width: 100vw;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fuckContent {
  color: #fff;
  padding: 0 24px;
  padding-top: 20vh;
}

@media (max-width: 1300px) {
  .fuckContainer {
    width: 100vw;
    /* height: 1200px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fuckContent {
    width: 100%;
    color: #fff;
    padding: 0 24px 0 24px;
  }


  .cardContent {
    gap: 16px;
    /* display: flex; */
    grid-template-columns: repeat(3, 1fr);
  }
  

  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .fuckContainer {
    width: 100vw;
    /* height: 1200px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardContent {
    gap: 16px;
    /* display: flex; */
    grid-template-columns: repeat(2, 1fr);
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .fuckContainer {
    /* pointer-events: none; */
    /* display: none; */
    width: 100vw;
    /* height: 1600px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fuckContent {
    width: 100%;
    color: #fff;
    padding: 60px 24px 0 24px;
  }

  .cardContent {
    gap: 16px;
    /* display: flex; */
    grid-template-columns: repeat(1, 1fr);
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
}